<table class="table">
  <div *ngFor = "let paese of paesi">
    <th class="t-header">{{paese.name}}</th>
    <td class="t-body">
      <div>
        <th>Bandiera</th>
        <img class="flag" src="{{paese.flag}}" alt="">
      </div>
      <div class="content-display">
        <th>Densità</th>
        {{paese.population / paese.area | number}}
      </div>
      <div class="content-display">
        <th>Capitale</th>
        {{paese.capital}}
      </div>
      <div class="content-display">
        <th>Continente</th>
        {{paese.region}}
      </div>
      <div class="content-display">
        <th>Regione</th>
        {{paese.subregion}}
      </div>
      <div class="content-display">
        <th>Traduzione in IT</th>
        {{paese.translations['it']}}
      </div>
    </td>
  </div>
</table>

<span *ngFor="let paese of paesiVotati">
  <img src="{{paese}}" width="50px">
</span>

<select name="Select name" [(ngModel)]="paeseScelto">
  <option>--</option>
  <option *ngFor="let x of paesi" value="{{x.flag}}">{{x.name}}</option>
</select>

<div *ngIf="paeseScelto && paeseScelto!='--'; then blockThen else blockElse">
  <p>Paese Selezioneato!</p>
</div>

  <ng-template #blockThen>
    <app-img-viewer [path]="paeseScelto" (voto)="intercettaVoto($event)"></app-img-viewer>
  </ng-template>
  <ng-template #blockElse><br>non hai selezionato nessun paese!</ng-template>