img {
    border-radius: 10%;
    width:400px;
    height:300px;
    text-shadow: 20px;
    -webkit-box-shadow: 14px 17px 5px 0px rgba(99,24,99,0.31);
    -moz-box-shadow: 14px 17px 5px 0px rgba(99,24,99,0.31);
    box-shadow: 14px 17px 5px 0px rgba(99,24,99,0.31);
}